.top-bar{
	background-color: white;
	height: 80px;
	font-family: 'Play', sans-serif;
	clear: both;
}

.top-bar h1{
	float: left;
	margin: 0;
	color: rgb(45, 69, 90);
	letter-spacing: 10px;
	padding: 20px;
	font-family: 'Play', sans-serif;
}

.m-bar{
	background-color: ;
	height: 100px;
	font-family: 'Play', sans-serif;
	clear: both;
}

.m-bar h1{
	float: center;
	margin: 0;
    font-size: 350%;
    text-align: center;
	color: #99ffff;
	letter-spacing: 10px;
	padding: 40px;
	font-family: 'Play', sans-serif;
}


.login-form{
	float: right;
	font-family: 'Play', sans-serif;
}

.login-box{
	display: inline-block;
	margin: 23px 10px;
	font-family: 'Play', sans-serif;
}

.login-btn{
	float: right;
	border-radius: 5px;
	background-color: #FCA311;
	color: white;
	border: none;
	font-size: 14px;
	height: 34px;
	width: 70px;
	margin: 23px 20px 23px 0;
	font-family: 'Play', sans-serif;
}

.color-overlay{
	background-color: rgba(66, 124, 132, .5);
	height: 100vh;
	font-family: 'Play', sans-serif;
}

.mid-section{
	height: 100vh;
	background-image: url("/friends.jpg");
	background-position: 0 -170px;
	background-size: cover;
	font-family: 'Play', sans-serif;
}

.mid-section-2{
	height: 100vh;
	background-color: #083644;
	background-position: 0 -170px;
	background-size: cover;
	font-family: 'Play', sans-serif;
}

.description{
	float: left;
	width: 850px;
	margin-top: 40px;
	padding-left: 100px;
	font-family: 'Play', sans-serif;
}

.description p{
	color: white;
	font-size: 20px;
	margin-top: 100px;
	font-family: 'Play', sans-serif;
}

.description h1{
	color: white;
	font-family: 'Play', sans-serif;
}

.description nav{
	float: left;
	padding-top: 50px;
	font-family: 'Play', sans-serif;
}

.description a{
	opacity: 0.7;
	display: inline-block;
	font-size: 20px;
	text-transform: uppercase;
	margin: 0 100px 0 0;
	font-weight: 700;
	color: #E4FDE1;
    text-decoration:none;
    font-family: 'Play', sans-serif;
}

.description a:hover{
	color: #F45B69;
	opacity: 1;
	text-decoration: none;
	font-family: 'Play', sans-serif;
}

.inner-reg-form{
	max-width: 250px;
	margin:auto;
	font-family: 'Play', sans-serif;
}

.reg-form{
	float: right;
	height: 558px;
	width: 300px;
	font-family: 'Play', sans-serif;
	background-color: rgba(8, 54, 68, .9);
	margin-right: 100px;
}

.yellow{
	color: #FCA311;
	font-family: 'Play', sans-serif;
}

.reg-form p{
	text-align: left;
	color: white;
	padding-left: 5px
	font-family: 'Play', sans-serif;
}

.subtitle{
	padding-left: 25px;
	font-family: 'Play', sans-serif;
}

.reg-form h2{
	color: white;
	text-align: left;
	padding-left: 30px;
	font-family: 'Play', sans-serif;
}

.form-group{
	margin: 0 auto;
	font-family: 'Play', sans-serif;
}

.submit-btn{
	margin-top: 30px;
	height: 50px;
	width: 250px;
	border-radius: 5px;
	background-color: #FCA311;
	color: white;
	border: none;
	font-size: 20px;
	font-family: 'Play', sans-serif;
}

.logout-btn{
	float: right;
	border-radius: 5px;
	background-color: #FCA311;
	color: white;
	border: none;
	font-size: 14px;
	height: 34px;
	width: 70px;
	margin: 23px 110px 23px 0;
	font-family: 'Play', sans-serif;
}



.room-friend{
	margin: 20px auto;
	padding: 10px;
	background-color: transparent;
	height: 80%;
	width: 65%;
	border: #99ffff 3px solid;
	border-radius: 10px;
}

.friend-bar{
	width: 50%;
	height: 100%;
	float: right;
	overflow: auto;
	padding-left: 100px;
}

.friend-bar h1{
	color: white;
	
	font-size: 60px;
}

.delete-friend-btn{
	display: block;
	margin: 15px 0 30px 0;
	height: 50px;
	width: 200px;
	border-radius: 5px;
	background-color: #FCA311;
	color: white;
	border: none;
	font-size: 20px;
	font-family: 'Play', sans-serif;
}


.friends-box{
	height: 40px;
	margin: 10px 0;
}

.avatar{
	float: left;
	margin: 0;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background-position: center;
	background-size: cover;
	margin-right: 15px;
}

.friends-box p{
	display: block;
	float: left;
	font-size: 30px;
	color: #2568a8;
	margin: 0;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
	transition: color 0.5s;
}

.friends-box:hover p{
	color: #99ffff;
	font-family: 'Play', sans-serif;
}


.side-bar{
	float: left;
	width: 50%;
	background-color: #083644;
	margin:  0 auto 0 auto;
	height: 100%;
	font-family: 'Play', sans-serif;
	overflow: auto;
	border-radius: 10px;
}

.friend-bar::-webkit-scrollbar-track
{

  border-radius: 10px;
  background-color: transparent;
}

.friend-bar::-webkit-scrollbar
{
  border-radius: 10px;
  width: 20px;
  background-color: #083644;
}

.friend-bar::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  border: 8px solid #083644;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #99ffff;
}

#style-1::-webkit-scrollbar-track
{

  border-radius: 10px;
  background-color: transparent;
}

#style-1::-webkit-scrollbar
{
  border-radius: 10px;
  width: 20px;
  background-color: #083644;
}

#style-1::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  border: 8px solid #083644;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #99ffff;
}

.profile-photo{
	margin: 20px auto;
	width: 140px;
	height: 140px;
	border-radius: 50%;
	background-position: center;
	background-size: cover;
	font-family: 'Play', sans-serif;

}

.side-bar h4{
	color: #ffffe6;
	text-align: center;
	font-size: 40px;
	font-weight: 700;
	font-family: 'Play', sans-serif;
}

.room-box{
	text-align: center;
	border-bottom: #99ffff 1px solid;
	margin: 0 100px;
	font-family: 'Play', sans-serif;
}

.room-box:last-child{
	border: none;
	font-family: 'Play', sans-serif;
}


.room-box a{
	transition: color 0.5s;
	display: inline-block;
	font-size: 20px;
	margin: 10px auto;
	text-decoration: none;
	font-family: 'Play', sans-serif;
}
.room-box:hover a{
	color: #99ffff;
	font-family: 'Play', sans-serif;
}

.room-box a:hover{
	text-decoration: none;
	font-family: 'Play', sans-serif;
}

.create-room-btn{
	display: block;
	margin: 15px auto 30px auto;
	height: 50px;
	width: 200px;
	border-radius: 5px;
	background-color: #FCA311;
	color: white;
	border: none;
	font-size: 20px;
	font-family: 'Play', sans-serif;
}

